<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<integer>1</integer>
		<key>title</key>
		<string>图标</string>
		<key>items</key>
		<array>
			<dict>
				<key>id</key>
				<integer>301</integer>
				<key>name</key>
				<string>播放器</string>
				<key>type</key>
				<string>标识图标</string>
				<key>icon</key>
				<string>a_player_1.png</string>
				<key>icon_sel</key>
				<string>a_player_1.png</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>302</integer>
				<key>name</key>
				<string>硬盘存储器</string>
				<key>type</key>
				<string>标识图标</string>
				<key>icon</key>
				<string>v_icon_22.png</string>
				<key>icon_sel</key>
				<string>v_icon_22.png</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>303</integer>
				<key>name</key>
				<string>USB</string>
				<key>type</key>
				<string>标识图标</string>
				<key>icon</key>
				<string>a_usb.png</string>
				<key>icon_sel</key>
				<string>a_usb.png</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>304</integer>
				<key>name</key>
				<string>SD</string>
				<key>type</key>
				<string>标识图标</string>
				<key>icon</key>
				<string>a_sd.png</string>
				<key>icon_sel</key>
				<string>a_sd.png</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>305</integer>
				<key>name</key>
				<string>无线麦</string>
				<key>type</key>
				<string>标识图标</string>
				<key>icon</key>
				<string>a_wx_2.png</string>
				<key>icon_sel</key>
				<string>a_wx_2.png</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>306</integer>
				<key>name</key>
				<string>有线麦</string>
				<key>type</key>
				<string>标识图标</string>
				<key>icon</key>
				<string>a_yx_3.png</string>
				<key>icon_sel</key>
				<string>a_yx_3.png</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>307</integer>
				<key>name</key>
				<string>有线会议室</string>
				<key>type</key>
				<string>标识图标</string>
				<key>icon</key>
				<string>a_room_4.png</string>
				<key>icon_sel</key>
				<string>a_room_4.png</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>308</integer>
				<key>name</key>
				<string>无线会议室</string>
				<key>type</key>
				<string>标识图标</string>
				<key>icon</key>
				<string>a_room_5.png</string>
				<key>icon_sel</key>
				<string>a_room_5.png</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>309</integer>
				<key>name</key>
				<string>反馈抑制</string>
				<key>type</key>
				<string>标识图标</string>
				<key>icon</key>
				<string>a_icon_6.png</string>
				<key>icon_sel</key>
				<string>a_icon_6.png</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
