<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<integer>1</integer>
		<key>title</key>
		<string>电源插件</string>
		<key>items</key>
		<array>
			<dict>
				<key>id</key>
				<integer>101</integer>
				<key>name</key>
				<string>8路电源管理</string>
				<key>type</key>
				<string>系统管理插件</string>
				<key>icon</key>
				<string>dy_06.png</string>
				<key>icon_sel</key>
				<string>dy_06.png</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>102</integer>
				<key>name</key>
				<string>16路电源管理</string>
				<key>type</key>
				<string>系统管理插件</string>
				<key>icon</key>
				<string>dy_06.png</string>
				<key>icon_sel</key>
				<string>dy_06.png</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<integer>2</integer>
		<key>title</key>
		<string>音频插件</string>
		<key>items</key>
		<array>
			<dict>
				<key>id</key>
				<integer>201</integer>
				<key>name</key>
				<string>播放器</string>
				<key>type</key>
				<string>系统管理插件</string>
				<key>icon</key>
				<string>a_player_1.png</string>
				<key>icon_sel</key>
				<string>a_player_1.png</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>202</integer>
				<key>name</key>
				<string>无线麦</string>
				<key>type</key>
				<string>系统管理插件</string>
				<key>icon</key>
				<string>a_wx_2.png</string>
				<key>icon_sel</key>
				<string>a_wx_2.png</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>203</integer>
				<key>name</key>
				<string>有线麦</string>
				<key>type</key>
				<string>系统管理插件</string>
				<key>icon</key>
				<string>a_yx_3.png</string>
				<key>icon_sel</key>
				<string>a_yx_3.png</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>204</integer>
				<key>name</key>
				<string>有线会议麦</string>
				<key>type</key>
				<string>系统管理插件</string>
				<key>icon</key>
				<string>a_room_4.png</string>
				<key>icon_sel</key>
				<string>a_room_4.png</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>205</integer>
				<key>name</key>
				<string>无线会议麦</string>
				<key>type</key>
				<string>系统管理插件</string>
				<key>icon</key>
				<string>a_room_5.png</string>
				<key>icon_sel</key>
				<string>a_room_5.png</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>206</integer>
				<key>name</key>
				<string>反馈抑制</string>
				<key>type</key>
				<string>系统管理插件</string>
				<key>icon</key>
				<string>a_icon_6.png</string>
				<key>icon_sel</key>
				<string>a_icon_6.png</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>207</integer>
				<key>name</key>
				<string>音频处理</string>
				<key>type</key>
				<string>系统管理插件</string>
				<key>icon</key>
				<string>a_icon_7.png</string>
				<key>icon_sel</key>
				<string>a_icon_7.png</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>208</integer>
				<key>name</key>
				<string>功放</string>
				<key>type</key>
				<string>系统管理插件</string>
				<key>icon</key>
				<string>a_icon_8.png</string>
				<key>icon_sel</key>
				<string>a_icon_8.png</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<integer>3</integer>
		<key>title</key>
		<string>视频插件</string>
		<key>items</key>
		<array>
			<dict>
				<key>id</key>
				<integer>301</integer>
				<key>name</key>
				<string>视频播放器</string>
				<key>type</key>
				<string>系统管理插件</string>
				<key>icon</key>
				<string>v_icon_1.png</string>
				<key>icon_sel</key>
				<string>v_icon_1.png</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>302</integer>
				<key>name</key>
				<string>摄像机</string>
				<key>type</key>
				<string>系统管理插件</string>
				<key>icon</key>
				<string>v_icon_2.png</string>
				<key>icon_sel</key>
				<string>v_icon_2.png</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>303</integer>
				<key>name</key>
				<string>信息盒</string>
				<key>type</key>
				<string>系统管理插件</string>
				<key>icon</key>
				<string>v_icon_3.png</string>
				<key>icon_sel</key>
				<string>v_icon_3.png</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>304</integer>
				<key>name</key>
				<string>远程视讯</string>
				<key>type</key>
				<string>系统管理插件</string>
				<key>icon</key>
				<string>v_icon_4.png</string>
				<key>icon_sel</key>
				<string>v_icon_4.png</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>305</integer>
				<key>name</key>
				<string>视频处理</string>
				<key>type</key>
				<string>系统管理插件</string>
				<key>icon</key>
				<string>v_icon_5.png</string>
				<key>icon_sel</key>
				<string>v_icon_5.png</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>306</integer>
				<key>name</key>
				<string>拼接屏</string>
				<key>type</key>
				<string>系统管理插件</string>
				<key>icon</key>
				<string>v_icon_6.png</string>
				<key>icon_sel</key>
				<string>v_icon_6.png</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>307</integer>
				<key>name</key>
				<string>液晶电视</string>
				<key>type</key>
				<string>系统管理插件</string>
				<key>icon</key>
				<string>v_icon_7.png</string>
				<key>icon_sel</key>
				<string>v_icon_7.png</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>308</integer>
				<key>name</key>
				<string>录播机</string>
				<key>type</key>
				<string>系统管理插件</string>
				<key>icon</key>
				<string>v_icon_8.png</string>
				<key>icon_sel</key>
				<string>a_player_8.png</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>309</integer>
				<key>name</key>
				<string>投影仪</string>
				<key>type</key>
				<string>系统管理插件</string>
				<key>icon</key>
				<string>v_icon_9.png</string>
				<key>icon_sel</key>
				<string>v_icon_9.png</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<integer>4</integer>
		<key>title</key>
		<string>环境插件</string>
		<key>items</key>
		<array>
			<dict>
				<key>id</key>
				<integer>401</integer>
				<key>name</key>
				<string>照明</string>
				<key>type</key>
				<string>系统管理插件</string>
				<key>icon</key>
				<string>hj_icon_1.png</string>
				<key>icon_sel</key>
				<string>hj_icon_1.png</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>402</integer>
				<key>name</key>
				<string>空调</string>
				<key>type</key>
				<string>系统管理插件</string>
				<key>icon</key>
				<string>hj_icon_2.png</string>
				<key>icon_sel</key>
				<string>hj_icon_2.png</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>403</integer>
				<key>name</key>
				<string>电动马达</string>
				<key>type</key>
				<string>系统管理插件</string>
				<key>icon</key>
				<string>hj_icon_3.png</string>
				<key>icon_sel</key>
				<string>hj_icon_3.png</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>404</integer>
				<key>name</key>
				<string>新风</string>
				<key>type</key>
				<string>系统管理插件</string>
				<key>icon</key>
				<string>hj_icon_4.png</string>
				<key>icon_sel</key>
				<string>hj_icon_4.png</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>405</integer>
				<key>name</key>
				<string>地暖</string>
				<key>type</key>
				<string>系统管理插件</string>
				<key>icon</key>
				<string>hj_icon_5.png</string>
				<key>icon_sel</key>
				<string>hj_icon_5.png</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>406</integer>
				<key>name</key>
				<string>空气净化</string>
				<key>type</key>
				<string>系统管理插件</string>
				<key>icon</key>
				<string>hj_icon_7.png</string>
				<key>icon_sel</key>
				<string>hj_icon_7.png</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>407</integer>
				<key>name</key>
				<string>净水</string>
				<key>type</key>
				<string>系统管理插件</string>
				<key>icon</key>
				<string>hj_icon_8.png</string>
				<key>icon_sel</key>
				<string>hj_icon_8.png</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>408</integer>
				<key>name</key>
				<string>加湿器</string>
				<key>type</key>
				<string>系统管理插件</string>
				<key>icon</key>
				<string>hj_icon_9.png</string>
				<key>icon_sel</key>
				<string>hj_icon_9.png</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>409</integer>
				<key>name</key>
				<string>门禁</string>
				<key>type</key>
				<string>系统管理插件</string>
				<key>icon</key>
				<string>hj_icon_10.png</string>
				<key>icon_sel</key>
				<string>hj_icon_10.png</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>410</integer>
				<key>name</key>
				<string>监控</string>
				<key>type</key>
				<string>系统管理插件</string>
				<key>icon</key>
				<string>hj_icon_11.png</string>
				<key>icon_sel</key>
				<string>hj_icon_11.png</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>411</integer>
				<key>name</key>
				<string>能耗统计</string>
				<key>type</key>
				<string>系统管理插件</string>
				<key>icon</key>
				<string>hj_icon_12.png</string>
				<key>icon_sel</key>
				<string>hj_icon_12.png</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
