<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<integer>1</integer>
		<key>title</key>
		<string>图标</string>
		<key>items</key>
		<array>
			<dict>
				<key>name</key>
				<string>输入设备</string>
				<key>id</key>
				<string></string>
			</dict>
			<dict>
				<key>id</key>
				<integer>301</integer>
				<key>name</key>
				<string>DVD</string>
				<key>type</key>
				<string>标识图标</string>
				<key>icon</key>
				<string>videop_dvd_w.png</string>
				<key>icon_sel</key>
				<string>videop_dvd_y.png</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>302</integer>
				<key>name</key>
				<string>存储播放器</string>
				<key>type</key>
				<string>标识图标</string>
				<key>icon</key>
				<string>videop_usb_w.png</string>
				<key>icon_sel</key>
				<string>videop_usb_y.png</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>303</integer>
				<key>name</key>
				<string>摄像机</string>
				<key>type</key>
				<string>标识图标</string>
				<key>icon</key>
				<string>videop_camera_w.png</string>
				<key>icon_sel</key>
				<string>videop_camera_y.png</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>304</integer>
				<key>name</key>
				<string>信息盒</string>
				<key>type</key>
				<string>标识图标</string>
				<key>icon</key>
				<string>videop_xinxihe_w.png</string>
				<key>icon_sel</key>
				<string>videop_xinxihe_y.png</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>305</integer>
				<key>name</key>
				<string>远程视讯</string>
				<key>type</key>
				<string>标识图标</string>
				<key>icon</key>
				<string>videop_remotevideo_w.png</string>
				<key>icon_sel</key>
				<string>videop_remotevideo_y.png</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>306</integer>
				<key>name</key>
				<string>输出图标</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>307</integer>
				<key>name</key>
				<string>远程视讯</string>
				<key>type</key>
				<string>标识图标</string>
				<key>icon</key>
				<string>videop_remotevideo_w.png</string>
				<key>icon_sel</key>
				<string>videop_remotevideo_y.png</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>308</integer>
				<key>name</key>
				<string>拼接屏</string>
				<key>type</key>
				<string>标识图标</string>
				<key>icon</key>
				<string>videop_screen_w.png</string>
				<key>icon_sel</key>
				<string>videop_screen_y.png</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>309</integer>
				<key>name</key>
				<string>电视机</string>
				<key>type</key>
				<string>标识图标</string>
				<key>icon</key>
				<string>videop_tv_w.png</string>
				<key>icon_sel</key>
				<string>videop_tv_y.png</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>310</integer>
				<key>name</key>
				<string>录播机</string>
				<key>type</key>
				<string>标识图标</string>
				<key>icon</key>
				<string>videop_player_w.png</string>
				<key>icon_sel</key>
				<string>videop_player_y.png</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>311</integer>
				<key>name</key>
				<string>投影机</string>
				<key>type</key>
				<string>标识图标</string>
				<key>icon</key>
				<string>videop_tscreen_w.png</string>
				<key>icon_sel</key>
				<string>videop_tscreen_y.png</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
