<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<integer>1</integer>
		<key>title</key>
		<string>图标</string>
		<key>items</key>
		<array>
			<dict>
				<key>name</key>
				<string>输入设备</string>
				<key>id</key>
				<string></string>
			</dict>
			<dict>
				<key>id</key>
				<integer>301</integer>
				<key>name</key>
				<string>DVD</string>
				<key>type</key>
				<string>标识图标</string>
				<key>icon</key>
				<string>v_icon_1.png</string>
				<key>icon_sel</key>
				<string>v_icon_1.png</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>302</integer>
				<key>name</key>
				<string>存储播放器</string>
				<key>type</key>
				<string>标识图标</string>
				<key>icon</key>
				<string>v_icon_22.png</string>
				<key>icon_sel</key>
				<string>v_icon_22.png</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>303</integer>
				<key>name</key>
				<string>摄像机</string>
				<key>type</key>
				<string>标识图标</string>
				<key>icon</key>
				<string>v_icon_2.png</string>
				<key>icon_sel</key>
				<string>v_icon_2.png</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>304</integer>
				<key>name</key>
				<string>信息盒</string>
				<key>type</key>
				<string>标识图标</string>
				<key>icon</key>
				<string>v_icon_3.png</string>
				<key>icon_sel</key>
				<string>v_icon_3.png</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>305</integer>
				<key>name</key>
				<string>远程视讯</string>
				<key>type</key>
				<string>标识图标</string>
				<key>icon</key>
				<string>v_icon_4.png</string>
				<key>icon_sel</key>
				<string>v_icon_4.png</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>306</integer>
				<key>name</key>
				<string>输出图标</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>307</integer>
				<key>name</key>
				<string>远程视讯</string>
				<key>type</key>
				<string>标识图标</string>
				<key>icon</key>
				<string>v_icon_4.png</string>
				<key>icon_sel</key>
				<string>v_icon_4.png</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>308</integer>
				<key>name</key>
				<string>拼接屏</string>
				<key>type</key>
				<string>标识图标</string>
				<key>icon</key>
				<string>v_icon_6.png</string>
				<key>icon_sel</key>
				<string>v_icon_6.png</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>309</integer>
				<key>name</key>
				<string>电视机</string>
				<key>type</key>
				<string>标识图标</string>
				<key>icon</key>
				<string>v_icon_7.png</string>
				<key>icon_sel</key>
				<string>v_icon_7.png</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>310</integer>
				<key>name</key>
				<string>录播机</string>
				<key>type</key>
				<string>标识图标</string>
				<key>icon</key>
				<string>v_icon_8.png</string>
				<key>icon_sel</key>
				<string>v_icon_8.png</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>311</integer>
				<key>name</key>
				<string>投影机</string>
				<key>type</key>
				<string>标识图标</string>
				<key>icon</key>
				<string>v_icon_9.png</string>
				<key>icon_sel</key>
				<string>v_icon_9.png</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
